{% extends 'base.html' %}

{% block title %}Indian Cinema in Context{% endblock %}

{% block content %}
<div class="text-center">
    Here you can play a Bollywood Edition of madlibs created by students of Indian Cinema in Context.<br><br>
    <h4>Try Madlibs!</h4>
    <a class="btn btn-primary" href="s000/input/" role="button">Plastic Surgery Story</a>
    <a class="btn btn-primary" href="s001/input/" role="button">Illini Love Story</a>
    <a class="btn btn-primary" href="s002/input/" role="button">Kabhi Khushi Kabhi Fun</a>
</div>
{% endblock %}
