{% extends 'base.html' %}

{% block title %}Indian Cinema in Context{% endblock %}

{% block content %}
<div class="text-center" style="padding_left:30px;padding_right:30px;padding-bottom:30px">
    Here you can play a Bollywood Edition of madlibs created by the Spring 2019 students of <i>Indian Cinema in Context</i> at the University of Illinois at Urbana-Champaign.<br><br>
    <h4>Play Madlibs!</h4><br>
    <a class="btn btn-primary btn-sm btn-block" href="s003/input/" role="button">Jadoo</a><br>
    <a class="btn btn-primary btn-sm btn-block" href="s002/input/" role="button">Kabhi Khushi Kabhi Fun</a><br>
    <a class="btn btn-primary btn-sm btn-block" href="s001/input/" role="button">Illini Love Story</a><br>
    <a class="btn btn-primary btn-sm btn-block" href="s000/input/" role="button">BollyTalk</a><br>
</div>
{% endblock %}
