{% extends 'base.html' %}

{% block content %}
<div style="padding-left:30px;padding-right:30px;">
    <h3>BollyTalk</h3>
</div>
<div style="padding:30px;">
    Welcome to our first edition of BollyTalk. Well, my friends, the latest buzz buzz is that <b>{{tuple.bollywood_actress_name}}</b> has undergone major plastic surgery.
    She could not stand the verbal abuse she was receiving from her recently acquired beau, <b>{{tuple.bollywood_actor_name}}</b>.
    He was constantly telling her that her <b>{{tuple.body_part_1}}</b> was too big and her <b>{{tuple.body_part_2}}</b> was way too small for his taste.
    Knowing that this was her only chance at true love, the decision was made to undergo the surgery.
    <br><br>
    What a mistake this proved to be my friends.
    <b>{{tuple.bollywood_actress_name}}</b> has become the laughing stock of Bollywood.
    Some say that after the surgery, she now has a striking resemblance to <b>{{tuple.old_Bollywood_actor}}</b>.
    We have tried to contact the once ravishing actress at her <b>{{tuple.noun}}</b> (in <b>{{tuple.country}}</b>), but we keep getting the runaround.
    Her <b>{{tuple.occupation_1}}</b> says she <b>{{tuple.past_tense_verb}}</b> for the weekend and has not been available for the past 3 days.
    Her <b>{{tuple.occupation_2}}</b> says that her mother was <b>{{tuple.adjective_1}}</b> and needed <b>{{tuple.bollywood_actress_name}}</b>'s care.
    <br><br>
    Whatever the excuse, we know that our <b>{{tuple.adjective_2}}</b> damsel is running away from her public and wishes not to be seen.
    The important issue here, however, is that no matter how <b>{{tuple.adjective_3}}</b> she looks our support is with her <b>{{tuple.number_between_1_and_10}}</b>% of the way.
    Now, I call that true devotion on the part of her fans, wouldn’t you think?
    <br>......<br>
    This story was generously borrowed from <a href="http://users.rcn.com/jmachado/madlibs/madlib1.html">http://users.rcn.com/jmachado/madlibs/madlib1.html</a>
    <br><br><br><br>
    Share this story: <a href="http://ishanp2.pythonanywhere.com{{current_path}}">http://ishanp2.pythonanywhere.com{{current_path}}</a>
</div>
{% endblock %}
