{% extends 'base.html' %}

{% block content %}
<div style="padding-left:30px;padding-right:30px;">
    <h3>Kabhi Khushi Kabhi Fun</h3>
    <h5>By Sahil Modi</h5>
</div>
<div style="padding:30px;">
    <b>{{tuple.male_name_1}}</b> is born into a wealthy Indian family and has a little brother named <b>{{tuple.male_name_2}}</b>.
    They were best friends growing up. Once he grows up, <b>{{tuple.male_name_1}}</b> gets married to <b>{{tuple.girl_name}}</b>.
    <b>{{tuple.number}}</b> years go by and <b>{{tuple.male_name_2}}</b> has a lovely girlfriend who is unfortunately of a lower caste and thus his parents highly disapprove of the relationship.
    Because of the drama, <b>{{tuple.male_name_2}}</b> ends up eloping and <b>{{tuple.male_name_1}}</b> goes out on a quest to find out where they’ve gone to potentially reconcile the differences.
    He starts out by asking his neighbors, and they say that they overheard their <b>{{tuple.relative_1}}’s</b> <b>{{tuple.animal_1}}’s</b> friend's owner’s <b>{{tuple.relative_2}}</b> talking about how <b>{{tuple.male_name_2}}</b> mentioned traveling to <b>{{tuple.city}}</b>.
    <b>{{tuple.male_name_1}}</b> books a ticket on the earliest <b>{{tuple.mode_of_transportation}}</b> and travels to find his little brother.
    <br><br>
    In <b>{{tuple.city}}</b>, <b>{{tuple.male_name_1}}</b> had no idea where to look.
    He hailed a taxi to the closest <b>{{tuple.noun_1}}</b> and arrived without incident.
    As he got out of the taxi, a familiar laugh echoed from across the corner of the street.
    It was him! <b>{{tuple.male_name_2}}</b>!
    He hurriedly got out and <b>{{tuple.past_tense_verb_1}}</b> towards his brother, but before he could cross the street, they got into an Uber.
    Dismayed, <b>{{tuple.male_name_1}}</b> quickly took a picture of the Uber’s license plate and used it to find the driver’s phone number.
    The driver, <b>{{tuple.male_name_3}}</b>, told <b>{{tuple.male_name_1}}</b> his brother's family was traveling to a local zoo.
    <b>{{tuple.male_name_1}}</b> hailed the same Uber driver to take him to the zoo.
    Upon getting there, he scoured the entire zoo, from <b>{{tuple.animal_2}}</b> to <b>{{tuple.animal_3}}</b>, with no sign of <b>{{tuple.male_name_1}}</b>.
    The zoo was closing so <b>{{tuple.male_name_1}}</b> had to leave, but on the way out he heard the distinctive <b>"{{tuple.slogan}}"</b> characteristic of his brother.
    He spun around and <b>{{tuple.past_tense_verb_2}}</b> towards the source of the voice. Lo and behold, it was <b>{{tuple.male_name_2}}</b> and his <b>{{tuple.noun_2}}</b>, getting into a Lyft.
    <br>......<br>
    To be continued in <i>Khabi Khushi Khabi Fun</i>.
    <br><br><br><br>
    Share this story: <a href="http://ishanp2.pythonanywhere.com{{current_path}}">http://ishanp2.pythonanywhere.com{{current_path}}</a>
</div>
{% endblock %}
