{% extends 'base.html' %}

{% block content %}
<div style="padding:40px;">
    <b>{{tuple.male_name}}</b> was <b>{{tuple.present_participle}}</b> to class when he saw a <b>{{tuple.adjective_1}}</b>, beautiful ladki, <b>{{tuple.girl_name}}</b> struggling to get her find which CUMTD bus to take.
    He strolled over and with a <b>{{tuple.movement}}</b> of his wrist, pulled out an ultimate lady-stealer – the iPhone <b>{{tuple.number_1}}</b>.
    He pulls up CUMTD transit app with all of the lastest <b>{{tuple.adjective_2}}</b> features:
    <b>{{tuple.number_2}}</b> minutes until the next <b>{{tuple.number_3}}</b> 22 Illini to <b>{{tuple.location}}</b> Plaza.
    “Hey, whaddya know, I’m taking the bus too!” <b>{{tuple.male_name}}</b> slyly added. And so began a Ek Prem Kahaani: CUMTD edition.
    <br><br>
    At the drop of a hat, the latest <b>{{tuple.bollywood_actor}}’s</b> hit song from the classic <b>{{tuple.bollywood_film}}</b> began to play and <b>{{tuple.male_name}}</b> began to dance like no other!
    <b>{{tuple.girl_name}}</b> could not look away.
    <br><br>
    At the end of the song, <b>{{tuple.girl_name}}</b> leans in for a kiss and <b>{{tuple.male_name}}</b> has no words.
    He stepped away and instead made a <b>{{tuple.adjective_3}}</b> turn to his <a href="{{current_path}}img">one true love</a>.
    <br><br><br><br>
    Share this story: <a href="http://ishanp2.pythonanywhere.com{{current_path}}">http://ishanp2.pythonanywhere.com{{current_path}}</a>
</div>
{% endblock %}
