{% extends 'base.html' %}

{% block content %}
<div style="padding:40px;">
    Once upon a time, in a planet far, far away there was a <b>{{tuple.adjective_1}}</b> <b>{{tuple.color}}</b> alien.
    She and her <b>{{tuple.type_of_plural_relative}}</b> were on an intersellar trip to Planet Earth.
    She was a <b>{{tuple.adjective_2}}</b> alien so she decided to venture to far from her family.
    <br><br>
    Unfortunately, she got lost and was left behind in the <b>{{tuple.adjective_3}}</b> city of <b>{{tuple.city}}</b>.
    Luckily, she made a new <b>{{tuple.adjective_4}}</b> friend <b>{{tuple.girl_name}}</b>, who is a <b>{{tuple.noun}}</b>.
    <b>{{tuple.girl_name}}</b> took her alien friend in and decided to name her Jadoo for all of the magical powers she had.
    Jadoo watched as <b>{{tuple.girl_name}}</b> suffered from <b>{{tuple.illness}}</b> and felt sad and <b>{{tuple.adjective_5}}</b>.
    Jadoo helped cure <b>{{tuple.girl_name}}</b> and <b>{{tuple.girl_name}}</b> became very fond of her.
    <br><br>
    <b>{{tuple.girl_name}}</b> wanted to protect Jadoo from the <b>{{tuple.adjective_6}}</b> government.
    She helped her send a message back to her home planet for her <b>{{tuple.type_of_plural_relative}}</b> to return.
    Upon Jadoo's departure, Jadoo blessed <b>{{tuple.girl_name}}</b> with a happy, <b>{{tuple.adjective_7}}</b> life free of illness.
    <br><br><br><br>
    Share this story: <a href="http://ishanp2.pythonanywhere.com{{current_path}}">http://ishanp2.pythonanywhere.com{{current_path}}</a>
</div>
{% endblock %}
